<br><br>

<div class="container">
    <div style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding: 15px;border-radius:10px">
        <div>
    
            <div style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding:15px;border-radius:10px;width:250px">
               
                <button class="btn btn_blue" style="margin-right:15px;"><a style="color: white;" href="/Dashboard" > <i style="color:white;margin-right: 10px;" class="fas fa-caret-left"></i>back</a></button>

                <span class="welcome" style="font-size:15px;">Add balance</span>
            </div><br>

       
        <br>
        <div style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding:15px;border-radius:10px;width:250px;display: flex;">
            <div class="inp_div">
                <form action="/Dashboard/addbalance" method="POST">
                    <i class="fas fa-dollar-sign" style="color: #143F6B"></i>
                    <input type="text" id="money" placeholder="Enter your amount" required name="addmoney">
                    <button class="btn btn_blue" style="padding: 5px 12px;"><i class="fas fa-paper-plane" style="color: #fff"></i></button>
                </form>

            </div>
            
        </div>
        <br>
        <div style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding: 15px 10px 50px 10px;border-radius:10px">
            <i class="fas fa-list" style="color:#143F6B ;margin-right:10px;" ></i><span style="font-size:13px;font-weight:200">Select the payment method</span> <br><br>
            <input type="radio" name="mode"><i style="color:#143F6B;margin:0 10px"  class="fas fa-credit-card"></i><span  style="font-size:13px;font-weight:200"> card</span><br><br>
            <input type="radio" name="mode"><i style="color:#143F6B;margin:0 10px" class="fas fa-qrcode"></i> <span  style="font-size:13px;font-weight:200">UPI</span> <br><br>
            <input type="radio" name="mode"><i style="color:#143F6B;margin:0 10px"  class="fas fa-university"></i> <span  style="font-size:13px;font-weight:200">Net banking</span> <br><br>
            <button class="btn btn_blue" style="margin-right:15px;float:right"><a style="color: white;" href="/Dashboard" >Proceed</a></button>

        </div>
        <br>
        
            </div>
    </div>

  
    
</div>

