<br><br>

<div class="container">
    <div style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding: 15px;border-radius:10px">
        <div>
    
            <div style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding:15px;border-radius:10px;width:250px">
               
                <button class="btn btn_blue" style="margin-right:15px;"><a style="color: white;" href="/Dashboard" > <i style="color:white;margin-right: 10px;" class="fas fa-caret-left"></i>back</a></button>

                <span class="welcome" style="font-size:15px;">History</span>
        
            </div><br>
            <div style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding: 15px 10px 100px 10px;border-radius:10px">
                <i class="fas fa-history" style="color:#143F6B ;margin-right:10px;" ></i>history<br><br>
                <p style="font-size:13px;font-weight:100;color:#143F6B">No previous Transaction..</p>
            </div>
       
        <br>
       
        
            </div>
    </div>

  
    
</div>

