<br><br>

<div class="container">
    <div style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding: 15px;border-radius:10px">
        <div>
    
            <div style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding:15px;border-radius:10px;width:250px">
                <span class="welcome" style="font-size:15px;">Dashboard</span>
                <i style="color: #143F6B;float:right" class="fas fa-user-circle"></i>
            </div><br>

          <div style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding: 5px 10px 10px 10px;border-radius:10px">
            <p class="balance"><i class="fas fa-dollar-sign" style="font-size:15px;color:#143F6B"></i><%=balance %></p>
            <p style="font-size:13px;font-weight:100;color:#143F6B">Total balance</p>
        </div>
        <br>
        <div style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding:15px;border-radius:10px;width:250px;display: flex;">
            <div style="background-color:#143F6B;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding:15px;border-radius:10px;width:40px;margin-left:10px;display: flex;justify-content:center;">
                <a href="/Dashboard/addbalance"><i class="fas fa-plus" style="color:white"></i></a>
            </div>
            <div style="background-color:#143F6B;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding:15px;border-radius:10px;width:40px;margin-left:10px;display: flex;justify-content:center;">
                <a href="/Dashboard/pay"><i class="fas fa-file-invoice-dollar"  style="color:white"></i></a>
            </div>
            <div style="background-color:#143F6B;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding:15px;border-radius:10px;width:40px;margin-left:10px;display: flex;justify-content:center;">
                <a href="/Dashboard/history"><i class="fas fa-history" style="color:white" ></i></a>
            </div>
        </div>
        <br>
        <div style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding: 15px 10px 100px 10px;border-radius:10px">
            <i class="fas fa-history" style="color:#143F6B ;margin-right:10px;" ></i>history<br><br>
            <p style="font-size:13px;font-weight:100;color:#143F6B">No previous Transaction..</p>
        </div>
        <br>
        
            </div>
    </div>

  
    
</div>

