<div class="log_in">
    <div class="containerl">
        <h1>
            <i style="color: #143F6B" class="fas fa-user-circle"></i>
        </h1>
        <form action="/login" method="POST">
            <div class="inp_div">
                <i class="fal fa-at" style="color: #143F6B"></i>
                <input type="text" placeholder="username.." required id="xyz" name="username"><br>
            </div>
            <div class="inp_div">
                <i class="fas fa-lock" style="color: #143F6B"></i>
                <input type="password" placeholder="password.."id="password" required name="password">

            </div>
            <p>forgot your password?</p>
            <button class="btn btn_blue" style="float: right;">Login</button>
            
        </form>


    </div>
</div>
